

@media only screen and (max-width: 767px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        display:none;
    }

    tr {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height:100%;  
    /* border:2px solid black; */
    border-radius: 25px;
    text-align: center;
    }

    

    td:nth-child(2n+2) {
        background-color: #e0ece4;
    }

    
    td:nth-child(2n+1) {
        background-color: #66bfbf;
    }

    td {
        /* Behave  like a "row" */
    display: flex; 
    /* flex-direction: row;  */
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
    
    border-bottom: 1px solid #eee;
    width: 100%
    }

    td:first-child{
        border:2px solid black;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom: none;

    }
    
    td:last-child{
        border:2px solid black;
        border-top: none;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }



    span.row_data {
        flex:3;

    }
    span.row_meta_data{
        flex:1;
        text-align: right;
        font-family : Georgia, serif;
        font-size: larger;
    }
    td.index_td{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 767px) {
    table {
        margin: 1% auto;
        max-width:70%;
        min-width:50%;
        border-collapse: separate;
        border-spacing:0;


    }
    
    thead tr:first-child {
        
    line-height: 200%;
    background-color:#056674;
    }
    
    tr:first-child th {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    }

    tr:last-child td {
        border-bottom: 3px solid black;
    }

    th:last-child, td:last-child {
    border-right: 3px solid black;
    }
    th:first-child, td:first-child {
    border-left: 3px solid black;
    }

    tr:nth-child(2n+2) {
        line-height: 300%;
        background-color:#e0ece4;
        
    }

    tr:nth-child(2n+1) {
        line-height: 300%;
        background-color:#66bfbf;
        
    }

    
        td,th {
        text-align:center;
        border-right: 3px solid #c4c7cc;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
    }

    tr:first-child th:first-child{
        border-top-left-radius:6px;
    }
    tr:first-child th:last-child{
        border-top-right-radius:6px;
    }
    tr:last-child td:first-child{
        border-bottom-left-radius:6px;
    }
    tr:last-child td:last-child{
        border-bottom-right-radius:6px;
    }
    span.row_meta_data {
        display: none;
    }

}

td.action_columns {
    min-width: 150px;
}
td.action_columns div {
    display: flex;
    justify-content: center;
    width: 100%;
}
div.controller_container{
    flex:1;
}

div i{
    flex:1;
}
.hide_element {
    display:none;
}
.act {
    background-color: red;
}
/*to delete stuff*/
div.button_container{
    text-align: center;
}

.filter-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-bar{
    display: flex;
    width:50%;    
    justify-content: center;
    align-items: center;
}
.filter-button{
    flex:1;
    max-width:150px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.filter-button:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

.filter-button:last-child{ 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

select {
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}