 <div  class="config">
  <i #anchor (click)="onToggle()" [ngClass]="{'fas':true, 'fa-bell':true, 'fa-2x':true, 'mybell':true}"></i>
  <span class="nof_notifications" *ngIf="nof_new_notifications > 0" (click)="onToggle()">{{nof_new_notifications}}</span>

  </div>
  <kendo-popup
    [anchor]="anchor"
    (anchorViewportLeave)="show = false"
    *ngIf="show"
  >
  <div class="content">
    <div *ngFor="let notification of notifications; let i = index" [ngClass]="{'notification':true, 'seen':notification['seenStatus']}" (click)="see_notification(notification['_id'], $event)"> 
        <i class="fas fa-times close-sign" (click)="delete_notification(notification['_id'], $event)"></i>
        {{notification['data']}}
    </div> 

    <div *ngIf="nof_notifications == 0" [ngClass]="{'notification':true}"> 
      No Notifications
  </div> 

  </div>
</kendo-popup> 
  