.test-container {
    width: 100%;
}

.test-header {
    width: 100%;
    border: 1px solid black;
}

.steps-container {
    margin-left: 30px;
    max-height: 0px;
    border: 0px solid black;
    transition: max-height 0.5s, border 0.4s;
    transition-delay: 0ms;
    overflow: hidden;
}

.openned-steps-container {
    border: 2px solid black;
    max-height: 1000px;
}

.open-arrow {
    font-size: 1em;
}
.openned {
    color: blue;
}
.open-arrow:hover {
    color: blue;
}

.run-button {
    position: relative;
    left: 200px
}
.run-button:hover{
    color: green
}