
<ul>
    <li> <a href="#login1"> post: api/user/login</a></li>
    <li> <a href="#login2"> post: api/user/logout</a></li>
    <li> <a href="#login3"> post: api/user/register</a></li>
    <br>
    <br>
    <br>

    <li> <a href="#students1"> get: api/students</a></li>
    <li> <a href="#students2"> get: api/students/&lt;id&gt;</a></li>
    <li> <a href="#students3"> post: api/students/create</a></li>
    <li> <a href="#students4"> delete: api/students/&lt;id&gt;</a></li>
    <li> <a href="#students5"> post: api/students/update</a></li>

    <br>
    <br>
    <br>

    <li> <a href="#instruments1"> get: api/instruments</a></li>
    <li> <a href="#instruments2"> get: api/instruments/type/&lt;id&gt;</a></li>
    <li> <a href="#instruments3"> get: api/instruments/&lt;id&gt;</a></li>
    <li> <a href="#instruments4"> post: api/instruments/create</a></li>
    <li> <a href="#instruments5"> delete: api/instruments/&lt;id&gt;</a></li>
    <li> <a href="#instruments6"> delete: api/instruments/type/&lt;id&gt;</a></li>
    <li> <a href="#instruments7"> post: api/instruments/update</a></li>

    <li> <a href="#Tables"> DataBase</a></li>

</ul>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<div id="login1" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/user/login (post)

    </h3>
    <ol>
        <li> user types user name password</li>
        <li> front end sends to the server the JSON : {{front_to_server}}</li>
        <li> backend validates user and:</li>
         <li> in case of success returns Response 200, and the JSON {{login_server_to_front}} </li>
         <li> in case of failure the server returns empty JSON and respose 401</li>

        <li> the front end views the proper design to user </li>


    </ol>
</div>

<div id="login2" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/user/logout (post)

    </h3>
    <p>
    Don't send anything to the server
    </p>
</div>

<div id="login3" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/user/register (post)

    </h3>
    <ol>
      <li> user types username name password</li>
      <li> front end sends to the server the JSON {{register_front_to_server}} </li>
      <li> backend validates username uniqueness and:</li>
       <li> in case of success returns Response 201, and the JSON {{register_server_to_front}} </li>
       <li> in case of failure the server returns empty JSON and respose 500</li>

      <li> the front end views the proper design to user </li>


  </ol>
</div>

<div id="students1" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/students

    </h3>
    <ol>
      <li> in case of success returns Response 200, and the JSON {{students_server_to_front}} </li>
      <li> in case of failure the server returns empty JSON and respose 500</li>

      <li> the front end views the proper design to user </li>

  </ol>
</div>

<div id="students2" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/students/&lt;id&gt;

    </h3>
    <ol>
      <li> user types the student id</li>
      <li> front end sends to the server the student id as a request parameter </li>
      <li> in case of success the server returns Response 200, and the JSON {{student_server_to_front}} </li>
      <li> in case of failure the server returns empty JSON and respose 500</li>

      <li> the front end views the proper design to user </li>

  </ol>
</div>


<div id="students3" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/students/create (post)

    </h3>
    <ol>
    <li> user most enter stdents: first name, lastname, school, grade, class, id. and could enter (for his choise): the parents details </li>
    <li> if the user chose to give up some of the unnecessarily details the client side most sned them as empty string </li>
    <li> front end sends to the server the JSON {{addStudent_front_to_server}} </li>
    <li> in case of success the server returns Response 201, and the empty JSON</li>
    <li> in case of failure the server returns empty JSON and respose 500</li>

    <li> the front end views the proper design to user </li>
  </ol>
</div>


<div id="students4" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/students/&lt;id&gt;  (delete)

    </h3>
    <ol>
      <li> user types the student id</li>
      <li> front end sends to the server the student id as a request parameter </li>
      <li> in case of success the server returns Response 200 with empty JSON </li>
      <li> in case of failure the server returns empty JSON and respose 500</li>

      <li> the front end views the proper design to user </li>

  </ol>
</div>


<div id="students5" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/students/update (post)

    </h3>
    <p>
      before this action the client side most send the server a get request to get the student
      current details, then it most show it to the user, he makes the changes he wants.
      the remain steps same as create
    </p>
</div>


<div id="instruments1" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments2" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/type/&lt;id&gt;

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments3" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/&lt;id&gt;

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments4" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/create (post)

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments5" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/&lt;id&gt; (delete)

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments6" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/type/&lt;id&gt; (delete)

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>

<div id="instruments7" style="border: 1px black solid;margin-top: 20px;margin-left:20px">
    <h3>api/instruments/update (post)

    </h3>
    <p>
    sfddgdfgfg
    </p>
</div>
<div id="Tables">

    <div style="margin-top:20px;">

        <table>
            <tr>
                <td>Users</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td>
            </tr>
        </table>
    </div>

    <div style="margin-top:20px;">

        <table style>
            <tr>
                <td>Students</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td>
            </tr>
        </table>
    </div>

    <div style="margin-top:20px;">

        <table>
            <tr>
                <td>Instruments</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td> <td>a</td>
            </tr>
        </table>
    </div>


</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
