
<ul>
    <li> <a href="#permission"> Permisiion System</a></li>
    <li> <a href="#loans"> Lends</a></li>
    <li> <a href="#filter"> Filtering System</a></li>

    <li> <a href="#reports"> InfraStructure for PDF Reports</a></li>
    <li> <a href="#imports"> Import data from Excel/CSV</a></li>
    <li> <a href="#history"> History</a></li>
    <li> <a href="#log"> Log</a></li>

    <li> <a href="#Tables"> DataBase</a></li>

</ul>
<div  class="container" id="permissions">
    <h3>Permission System</h3>
    three types of accesses: Admin, User, Guest

    <table>
        <tr>
            <th>***</th> <th>Guest</th> <th>User</th> <th>Admin</th>
        </tr>
        <tr>
            <th>Login Page</th> <th class="V">V</th> <th class="V">V</th> <th class="V">V</th>
        </tr>
        <tr>
            <th>Instruments</th> <th class="X">X</th> <th class="V">V</th> <th class="V">V</th>
        </tr>
        <tr>
            <th>Students</th> <th class="X">X</th> <th class="V">V</th> <th class="V">V</th>
        </tr>
        <tr>
            <th>Lends</th> <th class="X">X</th> <th class="V">V</th> <th class="V">V</th>
        </tr>
        <tr>
            <th>Reports</th> <th class="X">X</th> <th class="V">V</th> <th class="V">V</th>
        </tr>
        <tr>
            <th>Users</th> <th class="X">X</th> <th class="X">X</th> <th class="V">V</th>
        </tr>
    </table>
<p>
<span>Back End: </span> the only requests from backend are for assets, requests for pages are handeled in Front End, so
for any request to assets/data with unpriviliged user the Backend responds with response: 403 <br>
** the backend expecting to get the token as an authirization header
** done in backend
<br>
<span>Front End: </span> Front End responsibility is to not show any widget (pages, buttuns, links) to unprivilidged user
</p>

</div>

<div class="container" id="loans">
    <h3>Lends</h3>
    Can lends be changed? <br>
    if yes by anyone or just by admin?<br>

    <br>
    filtering lends or searching lends is by : date / instrument info / student info / user info. <br>
    &lt;Waiting for Amit and Meni response }
</div>

<div class="container" id="filter">
    <h3>Filtering System</h3>
    <p>any request for filtered data is of the form <span>/api/user/&lt;component&gt;/filtered/&lt;filter string&gt;</span>

    </p>

    <p>
        <span><b >Instruments:</b> the api would be /api/user/instruments/filter/&lt;filtered string&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" >where &lt;filter string&gt; is of the form: &lt;discrete fields filter&gt;-&lt;free text search&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" > where &lt;discrete fields filter&gt; is of the form: &lt;type&gt;_&lt;subtype&gt;_&lt;status&gt; </span>
        <br>
    <span style="display:inline-block; margin-left:50px"> if &lt;type&gt; == "type" then the request is asking for all types </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> if &lt;subtype&gt; == "subtype" then the request is asking for all subtypes </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> if &lt;status&gt; == "status" then the request is asking for all statuses </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> example for filter string : "A_A1_status" is requesting for instruments of Type A, subtype A1, for all statuses </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> example for filter string : "A_A1_loaned" is requesting for instruments of Type A, subtype A1, for loaned instruments </span>
    <br>
    <span style="display:inline-block; margin-left:30px"> and &lt;free text search&gt;: is text describing substring of instrument serial number </span>
    </p>

    <br>

    <p>
        <span><b >Students:</b> the api would be /api/user/students/filter/&lt;filtered string&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" >where &lt;filter string&gt; is of the form: &lt;discrete fields filter&gt;-&lt;free text search&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" > where &lt;discrete fields filter&gt; is of the form: &lt;class&gt;_&lt;level&gt; </span>
        <br>
    <span style="display:inline-block; margin-left:50px"> if &lt;class&gt; == "class" then the request is asking for all classes </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> if &lt;level&gt; == "level" then the request is asking for all levels </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> example for discrete fields filter : "5_3" is requesting for students of class 5, level 3 </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> example for discrete fields filter : "class_level" is requesting for all students</span>
    <br>
    <span style="display:inline-block; margin-left:30px"> and &lt;free text search&gt;: is text describing substring of Student First Name + Last Name, parents phone numbers </span>
    </p>


    <p>
        <span><b >Lends:</b> the api would be /api/user/loans/filter/&lt;filtered string&gt;?from=&lt;date&gt;&to=&lt;date&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" >where &lt;filter string&gt; is of the form: &lt;discrete fields filter&gt;-&lt;free text search&gt;</span>
        <br>
    <span style="display:inline-block; margin-left:30px" > where &lt;discrete fields filter&gt; is of the form: &lt;instrumentType&gt;_&lt;instrumentSubtype&gt;_&lt;status&gt;_&lt;class&gt;_&lt;level&gt; </span>
    <br>
    <span style="display:inline-block; margin-left:30px"> and &lt;free text search&gt;: is text describing (free text search) for students and instruments </span>
    <br>
    <span style="display:inline-block; margin-left:30px"> and query string fields &lt;from, to&gt;: describe range of days, request with this fields ask for lends in that range of days </span>
    <br>
    <span style="display:inline-block; margin-left:50px"> for exampe the query string (?from=3_1_2021&to=5_1_2021) is asking for all lends between 3\1\2021 and 5\1\2021 </span>

    </p>

</div>

<div class="container" id="reports">
    <h3>Reports</h3>
    &lt;Waiting for Amit and Meni response&gt;
</div>

<div class="container" id="imports">
    <h3>Import Data</h3>
    We need a Sample of real data
    <br>
    we need to support Uploading excel files in front end
    <br>
    we need to support reading analyzing files and inserting data to DB in backend
</div>

<div class="container" id="history">
    <h3>History</h3>
    Lets make it for future iterations
</div>

<div class="container" id="log">
    <h3>Logs and recent actions</h3>
    &lt;not for now&gt;
</div>

<div class="container" id="Tables">

    <div style="margin-top:20px;">

        <table>
            <tr>
                <td>Users</td> <td>name</td> <td>E-mail</td> <td>Phone Number</td> <td>Privilidge</td> <td>username</td> <td>password</td>
            </tr>
        </table>
    </div>

    <div style="margin-top:20px;">

        <table>
            <tr>
                <td>Lends</td> <td>Id</td> <td>StudentId</td> <td>InstrumentId</td> <td>Date</td> <td>UserId</td>
            </tr>
        </table>
    </div>


</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
