

.show-add-loan {
    margin-right: 3%;
    margin-top: 3%;
}

.show-add-loan-container{
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

.add-field-container {
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
}

.add-loan-container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.add-field-container {
    display: flex;
}

.student-field {
    border-color: #056674;
    color: #056674;
}
.student-field:hover > .fas, .student-field:hover, .student-field:hover > span {
    color: #66bfbf;
    border-color: #66bfbf;
} 

.instrument-field{
    border-color: #056674;
    color: #056674;
}


.instrument-field:hover > .fas, .instrument-field:hover, .instrument-field:hover > span {
    color: #66bfbf;
    border-color: #66bfbf;
} 

.add-button {
    color: #056674;
    /* display: flex; */
}

.add-button:hover, i.export:hover {
    color: #66bfbf;
    border-color: #66bfbf;
}

i.export {
    margin-left: 3%;
    margin-top: 3%;
    color: #056674;
} 

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%;
        border-bottom: 5px double black;
        height:100%
    }
    .instrument-field{
        font-size: xx-small;
    }
    .student-field{
        font-size: xx-small;
    }



    .differential-tag {
        display: flex;
        flex-basis: 100%;
        height: 0;
          
    }

    .myfa-3x {
        font-size: 2em;
    }

    .myfa-5x {
        font-size: 3em;
    }
    .myfa-10x {
        font-size: 5em;
    }
    .add-field-box {
        border: 3px solid #056674;
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 120px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    }
    .data{
        display: inline-block;
        width:100%;
        border-bottom: 3px solid #056674;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 2%;
        border-bottom: 5px double black;
        height:100%
    }

    .differential-tag {
        display: none;
    }

    .data{
        display: inline-block;
        width:100%;
        margin-top: 5px;
        padding-bottom: 5px;
        border-bottom: 3px solid #056674;
        text-align: center;
    }

    .myfa-3x {
        font-size: 3em;
    }
    .myfa-5x {
        font-size: 5em;
    }
    .myfa-10x {
        font-size: 10em;
    }

    .add-field-box {
        border: 3px solid #056674;
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 175px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    }
}

